body {
    font-family: 'Inter';
    margin: 0;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.login-page{
    background-image: url('Assets/Login.jpg');
}
.register-page{
    background-image: url('Assets/Signup.png');
}
.container{
    /* height: 100%; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;   */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.register-page .container{
    height: 100%;
}
.masuk{
    vertical-align: middle;
}

.formulir {
    width: 480px;
    height: auto;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
  }
.header{
    font-family: 'Inter', sans-serif;
    letter-spacing: 0px;
    text-align: center;
}  
.header h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 0;
    gap: 4;
}
.header h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #737373;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #10b981;
    border: 0;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    border-radius: 4px !important;
    border: none;

  }
label{
    font-size: 14px;
    font-weight: 500;
}
  a{
    color: #10b981;
    text-decoration: none;
  }
  .btn-masuk:hover{
    opacity: 0.7;
  }

  .input-container {
    margin-top: 5px;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Style the form icons */
  .icon {
    padding: 10px;
    min-width: 50px;
    position: absolute;
    right: 0;
  }
  /* Style the input fields */
  .input-field {
    font-family: 'Inter';
    width: 100%;
    padding: 10px;
    outline: none;
    
    border-radius: 12px;
    border: solid gray 1px;
  }

  p, .header h3, .icon {
    color: #737373;
  }
  .logo img{
    width: 33px;
    height: 33px;
  }
  .logo{
    text-align: center; 
  }
  .logo h3{
    display: inline;
    color: black;
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;

}
.keterangan-password{
    font-size: 14px;
    margin-top: -10px;
}
.keterangan-setuju{
    text-align: justify;
}
.p-masuk{
    text-align: center;
}
.lupa{
    float: right;
}
